<div class="card">
    <div class="card-body"
        #scrollMe
        style="overflow:hidden; height: 508px;"
        [scrollTop]="scrollMe.scrollHeight">

        <div *ngIf="(messageService.messageThread$ | async)?.length === 0">
            No messages yet... say hi by using the message box below
        </div>

        <div *ngFor="let message of (messageService.messageThread$ | async)">
            <div class="message" 
                [ngClass]="{'message-inner': user.username === message.senderUsername, 'message-out': user.username !== message.senderUsername}">
                <span class="chat-img float-end">
                    <img class="rounded-circle" src="{{message.senderPhotoUrl || './assets/user.png'}}" 
                        alt="{{message.senderUsername}}">
                </span>
                
                <div class="message-inner">
                    <div class="message-body">
                        <div class="message-content">
                            <div class="message-text">
                                <p style="padding: 0%; margin-bottom: 0%;">{{message.content}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="message-footer">
                        <span class="extra-small text-muted">{{message.messageSent | date: 'dd MMM yyyy - hh:mm'}}</span>
                    </div>
                </div>
            </div>
            <div class="message-divider">
                <small class="text-muted"></small>
            </div>
        </div>
    </div>

    <div class="card-footer">
        <form #messageForm="ngForm" (ngSubmit)="sendMessage()" autocomplete="off">
            <div class="input-group">
                <input 
                    name="messageContent"
                    required
                    [(ngModel)]="messageContent"
                    type="text" 
                    class="form-control input-sm" 
                    placeholder="Send a message">
                <div class="input-group-append">
                    <button [disabled]="!messageForm.valid || loading" class="btn btn-primary" type="submit">Send
                        <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
